@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Marvel";
  src: url("/public/styles/fonts/Marvel-Regular.ttf") format("ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
  font-weight: bold;
  font-size: large;
  font-family: "Marvel", sans-serif;
  width: 100%;
  color: white;
}
.home {
  font-size: xx-large;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.loading {
  font-size: xx-large;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.loading img{
  width: 60%;
}
footer{
  color: white;
  margin-top: auto;
}
main{
  flex-grow: 1;
}
nav {
  color: #ed1d24;
  position: fixed;
}

header {
  width: 10%;
}
#navbar {
  
}

input:focus {
  outline: none;
}
input{
  color:black;
}

#field {
  font-size: xx-large;
  text-align: center;
  margin: 0 auto;
}

#list img{

  cursor: pointer
}
#list table{
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.star {
  float: right;
  vertical-align: middle;
  width: 40px;
}
#list {
  
}
.favorites {
  width: 100%;
}
.favorites img{
  cursor: pointer
}
.favorites table{
  width: 100%;
} 
.listImages {
  width: 350px;
  height: 350px;
}
#focus {
  width: 80%;
  align-items: center;
  height:100%;
  padding-top: 10%;
  padding-left: 20%;
}
#focus table{
  text-align: justify;
  width: 80%;
  border-collapse: collapse;
} 
#focus td{
  
}
.tdImage {
  width : 310px;
}
#focus img {
  max-width: 100%;
  height: auto;
  width: 300px;
  height: 300px;
  display: block;
}
.tests{
  font-size: 5em;
}